:root { 
    --bg_color: #F2E9E4;
    --text_color: #151515;
    --color1: #1F4E79;
    --color2: #3A7CA5;
    --color3: #F7A072;
    --border_radius: 10px;
    

}

.invisible {
    display: none;
}

body {
    font-family: Playfair Display, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    color: var(--text_color);
    background-color: var(--color3);
}

* {
    box-sizing: border-box;
}

h1 {
    color: var(--text_color);
    text-align: center;
}

.form {
    align-content: center;
    max-width: 320px;
    padding: 15px;
    margin: 20px auto;
    background-color: var(--bg_color);
    border-top-right-radius: var(--border_radius);
    border-bottom-left-radius: var(--border_radius);
}

.input {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 16px;
    border-top-right-radius: var(--border_radius);
    border-bottom-left-radius: var(--border_radius);
}

.btn {
    display: block;
    width: 100%;
    padding: 8px 10px;
    
    border: 0;
    border-top-right-radius: var(--border_radius);
    border-bottom-left-radius: var(--border_radius);
    background-color: var(--color2);
    cursor: pointer;
    
    font-family: inherit;
    font-size: 16px;
    color: var(--bg_color);

}

.btn:hover {
    background-color: var(--color1);
}